.logo {
  position: absolute; /* ou 'fixed' se quiser que fique fixo ao rolar a página */
  left: 10;
  top: 0;
  margin: 10px; /* ajuste conforme necessário para o espaçamento */
  width: 50px; /* ajuste o tamanho conforme necessário */
  height: auto; /* mantém a proporção */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #2237f3;
    padding: 0.5rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background: #ccc;
    color: #333;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.conteudo-oculto {
    display: none;
}

.conteudo-ativo {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

form {
    display: grid;
    gap: 1rem;
    max-width: 500px;
    margin: 1rem auto;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #35424a;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #67a4cc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Esconde o conteúdo durante o loading */
body.loading #conteudo {
    opacity: 0;
    transition: opacity 0.1s;
}

body:not(.loading) #loading-overlay {
    opacity: 0;
    pointer-events: none;
}